@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
  font-family: AudioNugget;
  src: url(../font/AudioNugget/AudioNugget.ttf);
}
@font-face{
  font-family: Rebar;
  src: url(../font/rebar/rebar.otf);
}
@font-face{
  font-family: Diether;
  src: url(../font/diether/OTF/Regular/Diether-Thin.otf);
}
@font-face{
  font-family: Zekton;
  src: url(../font/zekton-free/zekton\ rg.otf);
}
*{
  text-decoration: none;
  list-style-type: none;
}

:root{

  --black: #000000;
  --darkpurple: #52057B;
  --purple: #892CDC;
  --lightpurple: #BC6FF1;

}

  body {
    background-color: var(--black);
    overflow: hidden;
  }
  
  .nav-bar {
    padding: 1rem;
    overflow: hidden;
    height: 70px;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin-top: 2rem;
  }

  .nav-bar-ul {
    font-family: "AudioNugget";
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
  }
  
  .nav-bar-li-a {
    color: white;
    text-align: center;
    
  }
  
  .nav-bar-li-a:hover {
    text-shadow: 0px 0px 19px rgb(255, 255, 255,999);
  }

  .div-cards{

    margin: 3%;
    align-items: center;
    display: flex;
    justify-content: center;

  }

  .card-titolo {

    align-items: left;
    display: flex;
    justify-content: left;
    text-align:left;
    padding-left: 3%;
  }

  .card-titolo-h1{

    font-family:"Rebar";
    font-style: normal;
    color: white;
    font-size: 3rem;

  }

  .card-paragrafo{
    
    text-align:left;
    padding-left: 3%;
  }

  .card-paragrafo-p{
    margin: 0%;
    font-family: "Zekton";
    font-style: normal;
    color: white;
  }

  .card {
    width: 800px;
    height: 700px;
    border-radius: 30px;
    background: #000000;
    box-shadow: 0px 0px 30px rgb(60, 60, 60), 0px 0px 30px rgb(60, 60, 60), 0px 0px 30px rgb(60, 60, 60);
   }

  .card-box{

    padding-left: 3%;
    display: inline-block;
    color: white;
    font-family: "Rebar";
    font-style: normal;
    font-size: 2rem;
    margin: 2%;

    width: 700px;
  }

  #nomeCognomeCasella, #emailCasella{
    height: 30px;
    width: 100%;
    margin: 20px 0px 20px;
    border-radius: 4px;
  }

  #contenutoCasella{
    border-radius: 4px;
    height: 60px;
    width: 100%;
    float: left;
    margin-top: 6px;
    resize: none;
  }

  #submitButton{
    width: 40px;
    height: 30px;
    
  }

  .nomeCognomeTitolo, .emailTitolo, .contenutoTitolo{

    padding: 20px 0px 20px;

  }

  #submitButton{
    background: #ffffff;
    color: #000000;
    border: 1px solid #eee;
    border-radius: 15px;
    text-shadow: none;
    text-align: center;
    }
    #submitButton:hover {
    background: #000000;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    text-shadow: none;
    text-align: center;
    }
